<h1>Recipe Form</h1>

<%= form_for @recipe do |f| %>
    <%= f.label :user %>
    <%= f.collection_select :user_id, @users, :id, :name %><br><br>

    <%= f.label :title %>
    <%= f.text_field :title %><br><br>

    <%= f.label :ingredients %><br>
    <%= f.fields_for :ingredients do |ing| %>
        <%= ing.text_field :names, multiple: true %><br>
        <%= ing.text_field :names, multiple: true %><br>
        <%= ing.text_field :names, multiple: true %><br>
        <%= ing.text_field :names, multiple: true %><br>
        <%= ing.text_field :names, multiple: true %><br><br>
    <% end %>

    <%= f.submit "Submit" %>
<% end %>