<h1><%= @user.name %></h1>

<% if @user.allergic_to.count > 0 %>
    <h3><em>Allergic to: </em></h3>
    <ul>
        <% @user.allergic_to.each do |ingredient| %>
            <li><em><%= link_to ingredient.name, ingredient_path(ingredient) %></em></li>
        <% end %>
    </ul>
<% else %>
    <p><em>No allergies</em></p>
<% end %>

<%= button_to "Add Allergy", new_allergy_path, method: :get %>

<% if @user.recipes.count > 0 %>
    <h3>Recipes: </h3>
    <ul>
        <% @user.recipes.each do |recipe| %>
            <li><%= link_to recipe.title, recipe_path(recipe) %></li>
        <% end %>
    </ul>
<% else %>
    <h3>User currently has no recipes.</h3>
<% end %>

<%= button_to "Add Recipe", new_recipe_path, method: :get %>
<br>
<%= button_to "Delete User", user_path(@user), method: :delete %>